//
   Created by ZHANGXIAOQIAN162 on 2015/11/4.
doctype html
html(lang='en')
   head
      title= 'fortune Title'
   body
      h1 jade
      #container
         if youAreUsingJade
      p You are amazing